{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% block title %}
News
{% endblock title %}

{% block content %}
{% if is_not_subscriber %}
<p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
{% endif %}
   <h1>Всего новостей: {{ news|length }}</h1>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
   </form>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <hr>
   {% if category_news_list %}
       <table>
           <tr>
               <td>Название</td>
               <td>Автор</td>
               <td>Описание</td>
               <td>Дата создания</td>
               <td>Категория</td>
           </tr>

           {% for new in category_news_list %}
           <tr>
               <td>{{ new.name }}</td>
               <td>{{ new.author.name }}</td>
               <td>{{ new.description|truncatechars:20|censor }}</td>
               <td>{{ new.time_create }}</td>
               <td>
                   <a href="{% url 'category_list' new.category.id %}">{{ new.category.name }}</a>
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
 {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}