{% extends 'flatpages/default.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все объявления</h1>
<a href="{% url 'reply_list' %}">Посмотреть отклики</a>
   <hr>
   {% if posts %}
        <table class="table table-bordered">
            <tr>
               <td>Заголовок</td>
               <td>Текст</td>
               <td>Категория</td>
               <td>Дата создания</td>
               <td>Автор</td>
            </tr>
            {% for post in posts %}
            <tr>
               <td><a href="{% url 'post_detail' post.id %}">{{ post.post_title }}</a></td>
               <td>{{ post.post_text|truncatechars:20 }}</td>
               <td>{{ post.category }}</td>
               <td>{{ post.time_create|date:'H:m d M Y' }}</td>
               <td>{{ post.user }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
       <h2>Объявлений нет!</h2>
    {% endif %}

{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}