{% extends 'flatpages/default.html' %}

<html>
<head>
<title>{% block title %}Мои Объявления{% endblock title %}</title>
</head>
<body>
{% block content %}
    <h2 style="text-align: center;">Мои Объявления</h2>
    <h2 style="text-align: right;"><a href="{% url 'user_replies' %}">Мои отклики</a></h2>

    <hr>
        {% if posts %}
        <table class="table table-bordered">
            <tr>
                <td>Заголовок</td>
                <td>Текст</td>
                <td>Категория</td>
                <td>Дата создания</td>
                <td>Автор</td>
                <td>Обновить</td>
                <td>Удалить</td>
            </tr>
            {% for post in posts %}
            <tr>
                <td><a href="{% url 'post_detail' post.id %}">{{ post.post_title }}</a></td>
                <td>{{ post.post_text|truncatechars:20 }}</td>
                <td>{{ post.category }}</td>
                <td>{{ post.time_create|date:'H:m d M Y' }}</td>
                <td>{{ post.user }}</td>
                <td><a href="{% url 'post_update' post.id %}">Обновить</a></td>
                <td><a href="{% url 'post_delete' post.id %}">Удалить</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h2>У вас нет объявлений, Вы можете добавить новое</h2>
        {% endif %}
    <br>
    <a href="{% url 'post_create' %}">Добавить объявление</a>
{% endblock content %}
</body>
</html>