{% extends 'flatpages/default.html' %}

<html>
<head>
<title>{% block title %}Отклики на мои объявления{% endblock title %}</title>
</head>
<body>
{% block content %}
    <h2 style="text-align: center;">Отклики на мои объявления</h2>
    <h2 style="text-align: right;"><a href="{% url 'user_posts' %}">Мои объявления</a></h2>
    <form method="get">
        <select name="post">
            <option value="">Все объявления</option>
            {% for post in posts %}
                <option value="{{ post.pk }}" {% if selected_post_id == post.pk %}selected{% endif %}>{{ post.post_title }}</option>
            {% endfor %}
        </select>
        <button type="submit">Фильтр</button>
    </form>
    <hr>
        {% if replies %}
        <table class="table table-bordered">
            <tr>
                <td>Объявление</td>
                <td>Текст</td>
                <td>Дата создания</td>
                <td>Автор</td>
                <td>Принять</td>
                <td>Удалить</td>
            </tr>
            {% for reply in replies %}
            <tr>
                <td>{{ reply.post }}</td>
                <td>{{ reply.reply_text }}</td>
                <td>{{ reply.time_create|date:'H:m d M Y' }}</td>
                <td>{{ reply.user }}</td>
                <td>
                    {% if reply.accepted %}
                        Отклик принят
                    {% else %}
                    <a href="{% url 'accept_reply' reply.id %}">Принять</a>
                    {% endif %}
                </td>
                <td><a href="{% url 'reply_delete' reply.id %}">Удалить</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h2>У вас нет откликов</h2>
        {% endif %}
{% endblock content %}
</body>
</html>